CONFIG_IDF_TARGET="esp32s3"
CONFIG_AUDIO_BOARD_TEST_RUN_I2C_SCAN=y
CONFIG_AUDIO_BOARD_TEST_RUN_1KHZ_TONE=n
CONFIG_AUDIO_BOARD_TEST_RUN_MIC_RMS=n
CONFIG_AUDIO_BOARD_TEST_RUN_LOCAL_LOOPBACK=y
CONFIG_AUDIO_BOARD_TEST_RUN_OPUS_1KHZ_LOOPBACK=n
CONFIG_AUDIO_BOARD_TEST_RUN_OPUS_MIC_LOOPBACK=n
# CONFIG_AUDIO_BOARD_TEST_RUN_WS_ECHO is not set
CONFIG_AUDIO_ENCODER_OPUS_SUPPORT=y
CONFIG_AUDIO_DECODER_OPUS_SUPPORT=y
CONFIG_XIAOZHI_AUDIO_DIAG_TONE_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_MIC_RMS_DURATION_MS=5000
CONFIG_XIAOZHI_AUDIO_DIAG_MIC_RMS_WINDOW_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_MS=15000
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_GAIN=4
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_LOG_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_VOLUME=65
CONFIG_XIAOZHI_AUDIO_DIAG_TONE_AMPLITUDE=12000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_TONE_LOOPBACK_MS=5000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_MIC_LOOPBACK_MS=10000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_MIC_INPUT_BYTES=1024
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_LOG_WINDOW_MS=500
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_VOLUME=65
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_TONE_AMPLITUDE=10000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_BITRATE=32000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_COMPLEXITY=0
