CONFIG_IDF_TARGET="esp32s3"
CONFIG_AUDIO_BOARD_TEST_RUN_I2C_SCAN=n
CONFIG_AUDIO_BOARD_TEST_RUN_1KHZ_TONE=n
CONFIG_AUDIO_BOARD_TEST_RUN_MIC_RMS=n
CONFIG_AUDIO_BOARD_TEST_RUN_LOCAL_LOOPBACK=n
CONFIG_AUDIO_BOARD_TEST_RUN_OPUS_1KHZ_LOOPBACK=y
CONFIG_AUDIO_BOARD_TEST_RUN_OPUS_MIC_LOOPBACK=n
CONFIG_AUDIO_BOARD_TEST_TASK_STACK_SIZE=49152
# CONFIG_AUDIO_BOARD_TEST_RUN_WS_ECHO is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_AUDIO_ENCODER_OPUS_SUPPORT=y
CONFIG_AUDIO_DECODER_OPUS_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_XIAOZHI_AUDIO_DIAG_TONE_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_MIC_RMS_DURATION_MS=5000
CONFIG_XIAOZHI_AUDIO_DIAG_MIC_RMS_WINDOW_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_MS=15000
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_GAIN=4
CONFIG_XIAOZHI_AUDIO_DIAG_LOOPBACK_LOG_MS=500
CONFIG_XIAOZHI_AUDIO_DIAG_VOLUME=65
CONFIG_XIAOZHI_AUDIO_DIAG_TONE_AMPLITUDE=12000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_FRAME_DURATION_60_MS=y
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_TONE_LOOPBACK_MS=5000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_MIC_LOOPBACK_MS=10000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_MIC_INPUT_BYTES=1024
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_LOG_WINDOW_MS=500
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_VOLUME=65
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_TONE_AMPLITUDE=10000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_BITRATE=90000
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_COMPLEXITY=0
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_SOURCE_TASK_STACK_SIZE=6144
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_ENCODER_TASK_STACK_SIZE=49152
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_BRIDGE_TASK_STACK_SIZE=4096
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_DECODER_TASK_STACK_SIZE=24576
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_PCM_RING_BYTES=32768
CONFIG_XIAOZHI_AUDIO_OPUS_DIAG_OPUS_RING_BYTES=32768
